In [41]:
# Add the Pandas dependency.

import pandas as pd

In [42]:
# Files to load

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [43]:
# Read the school data file and store it in a Pandas DataFrame.

school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [44]:
# Read the student data file and store it in a Pandas DataFrame.

student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [45]:
# DETERMINE if there are any missing values in the school data.

# school_data_df.count()

In [46]:
# DETERMINE if there are any missing values in the student data.

# student_data_df.count()

In [47]:
# DETERMINE if there are any missing values in the school data.

# school_data_df.isnull()

In [48]:
# DETERMINE if there are any missing values in the student data.

# student_data_df.isnull()

In [49]:
# DETERMINE if there are any missing values in the student data.

# student_data_df.isnull().sum()

In [50]:
# DETERMINE if there are not any missing values in the school data.

# school_data_df.notnull()

In [51]:
# DETERMINE if there are not any missing values in the student data.

# student_data_df.notnull().sum()

In [52]:
# Determine data types for the school DataFrame.

school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [53]:
# OR to find data type of column
# school_data_df["budget"].dtype

school_data_df.budget.dtype

dtype('int64')

In [54]:
# Determine data types for the student DataFrame.

student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [55]:
# Add each prefix and suffix to remove to a list.

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [56]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\saman\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [57]:
# Combine the data into a single dataset.

school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [58]:
# Get the total number of students.

student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [59]:
# Calculate the total number of schools.

school_count = school_data_df["school_name"].count()
school_count

# OR alternative calculation 

# school_count_2 = school_data_complete_df["school_name"].unique()
# school_count_2
# len(school_data_complete_df["school_name"].unique())

15

In [60]:
# Calculate the total budget.

total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [61]:
# Calculate the average reading score.

average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [62]:
# Calculate the average math score.

average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [63]:
# To get the percentage of students who passed math and reading, we will write code to:

# (1) Determine the passing grade.
# (2) Get the number of students who passed math and reading in separate DataFrames.
# (3) Calculate the number of students who passed math and reading.
# (4) Calculate the percentage of students who passed math and reading.

# To get the overall passing percentage, we will write code to:

# (1) Get the number of students who passed both math and reading in a DataFrame.
# (2) Calculate the number of students who passed both math and reading.
# (3) Calculate the percentage of students who passed both math and reading.

In [64]:
# Find passing scores for each 

passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [65]:
# Get all the students who are passing math in a new DataFrame.

passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

In [66]:
# Get all the students that are passing reading in a new DataFrame.

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [67]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [68]:
# Calculate the percent that passed math.

passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.

passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [69]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [70]:
# Calculate the number of students who passed both math and reading.
#Total number of students who passed 

overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [71]:
# Calculate the overall passing percentage.

overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [72]:
# Adding a list of values with keys to create a new DataFrame.

district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [78]:
# Format the "Total Students" to have the comma for a thousands separator.

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [79]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [80]:
# Format the columns.

# One decimal
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

# One decimal
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

# Nearest whole %
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

# Nearest whole %
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

# Nearest whole %
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [81]:
# Display dataframe

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65