In [41]:
# Add the Pandas dependency.

import pandas as pd

In [42]:
# Files to load

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [82]:
# Read the school data file and store it in a Pandas DataFrame.

school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [44]:
# Read the student data file and store it in a Pandas DataFrame.

student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [45]:
# DETERMINE if there are any missing values in the school data.

# school_data_df.count()

In [46]:
# DETERMINE if there are any missing values in the student data.

# student_data_df.count()

In [47]:
# DETERMINE if there are any missing values in the school data.

# school_data_df.isnull()

In [48]:
# DETERMINE if there are any missing values in the student data.

# student_data_df.isnull()

In [49]:
# DETERMINE if there are any missing values in the student data.

# student_data_df.isnull().sum()

In [50]:
# DETERMINE if there are not any missing values in the school data.

# school_data_df.notnull()

In [51]:
# DETERMINE if there are not any missing values in the student data.

# student_data_df.notnull().sum()

In [52]:
# Determine data types for the school DataFrame.

school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [53]:
# OR to find data type of column
# school_data_df["budget"].dtype

school_data_df.budget.dtype

dtype('int64')

In [54]:
# Determine data types for the student DataFrame.

student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [55]:
# DISTRICT SUMMARY
# Add each prefix and suffix to remove to a list.

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [56]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".

for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\saman\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [57]:
# Combine the data into a single dataset.

school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [58]:
# Get the total number of students.

student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [59]:
# Calculate the total number of schools.

school_count = school_data_df["school_name"].count()
school_count

# OR alternative calculation 

# school_count_2 = school_data_complete_df["school_name"].unique()
# school_count_2
# len(school_data_complete_df["school_name"].unique())

15

In [60]:
# Calculate the total budget.

total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [61]:
# Calculate the average reading score.

average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [62]:
# Calculate the average math score.

average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [63]:
# To get the percentage of students who passed math and reading, we will write code to:

# (1) Determine the passing grade.
# (2) Get the number of students who passed math and reading in separate DataFrames.
# (3) Calculate the number of students who passed math and reading.
# (4) Calculate the percentage of students who passed math and reading.

# To get the overall passing percentage, we will write code to:

# (1) Get the number of students who passed both math and reading in a DataFrame.
# (2) Calculate the number of students who passed both math and reading.
# (3) Calculate the percentage of students who passed both math and reading.

In [64]:
# Find passing scores for each 

passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [65]:
# Get all the students who are passing math in a new DataFrame.

passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

In [66]:
# Get all the students that are passing reading in a new DataFrame.

passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [67]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

In [68]:
# Calculate the percent that passed math.

passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.

passing_reading_percentage = passing_reading_count / float(student_count) * 100

In [69]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [70]:
# Calculate the number of students who passed both math and reading.
#Total number of students who passed 

overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [71]:
# Calculate the overall passing percentage.

overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [72]:
# Adding a list of values with keys to create a new DataFrame.

district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [78]:
# Format the "Total Students" to have the comma for a thousands separator.

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [79]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [80]:
# Format the columns.

# One decimal
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

# One decimal
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

# Nearest whole %
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

# Nearest whole %
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

# Nearest whole %
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [81]:
# Display dataframe

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [89]:
# SUMMARY FOR EACH SCHOOL IN DISTRICT

# Set school_name as index
# Determine the school type.

per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [87]:
# Add the per_school_types into a DataFrame for testing.

df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [91]:
# STUDENT COUNT PER SCHOOL
# Calculate the total student count using school_data

per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [92]:
# Calculate the total student count using school_data_complete.

per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [93]:
#BUDGET PER STUDENT
# Calculate the total school budget.

per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [94]:
# Calculate the per capita spending. budget per student

per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [98]:
# SCORE AVG PER SCHOOL

# Calculate the math scores.

student_school_math = student_data_df.set_index(["school_name"])["math_score"]

In [102]:
# Calculate the average test scores.

per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [103]:
# PASSING PCT PER SCHOOL

# To get the passing percentages, we need to:
 # 1. Determine what is the passing grade.
 # 2. Get the number of students who passed math and reading.
 # 3. Get the students who passed math and passed reading

In [105]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

In [108]:
# Calculate the number of students passing math and passing reading by school.

per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [113]:
# Calculate the % of passing math and reading scores per school.

per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [114]:
# Calculate the students who passed both math and reading.

per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [115]:
# Count the number of students who passed both math and reading.

per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [116]:
# Calculate the overall passing percentage.

per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [117]:
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.026930,0.033090,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.272680,0.281099,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.075878,0.092840,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.091054,0.105702,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.433370,0.450756,90.599455

In [118]:
# Format the Total School Budget and the Per Student Budget columns.

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame

per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,0.026930,0.033090,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,0.272680,0.281099,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,0.075878,0.092840,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,0.091054,0.105702,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.433370,0.450756,90.599455

In [119]:
# FIND HIGHEST PERFORMING SCHOOLS

# Sort and show top five schools.

top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,0.272680,0.281099,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,0.348913,0.364013,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.433370,0.450756,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,0.180096,0.185223,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,1.022154,1.036756,90.540541

In [120]:
# Sort and show top five schools.

bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,0.041500,0.050163,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,0.075878,0.092840,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,0.077194,0.095566,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,0.031072,0.037640,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,0.029142,0.035833,53.539172

In [121]:
# SCORES FOR EACH GRADE

# Create a grade level DataFrames.

ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [123]:
# Group each grade level DataFrame by the school name for the average math score.

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [126]:
# Group each grade level DataFrame by the school name for the average reading score.

ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [129]:
# Combine each grade level Series for average math scores by school into a single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

In [130]:
# Combine each grade level Series for average reading scores by school into a single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

In [132]:
  # Format each grade column.
  math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

  math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

  math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

  math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

  # Make sure the columns are in the correct order.
  math_scores_by_grade = math_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

  # Remove the index name.
  math_scores_by_grade.index.name = None
  # Display the DataFrame.
  math_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    77.1  77.0  77.5  76.5
Cabrera High School   83.1  83.2  82.8  83.3
Figueroa High School  76.4  76.5  76.9  77.2
Ford High School      77.4  77.7  76.9  76.2
Griffin High School   82.0  84.2  83.8  83.4